@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Montserrat&family=Sacramento&display=swap");

:root {
  --nav-color: #051f39;
  --nav-text: #4a2480;
  --primary-color: #4a2480;
  --secondary-color: #ff8e80;
  --hover-color: #c53a9d;
}
body {
  background-color: var(--primary-color);
}

.container {
  background-color: var(--nav-color);
  font-size: 1.2rem;
  font-family: "georgia", sans-serif;
  height: 70px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
  margin: auto;
}
.navbar ul {
  display: flex;
}
.container .navbar {
  justify-content: space-between;
}
.navbar ul li {
  list-style-type: none;
}

.container .navbar ul li {
  padding: 10px;
  margin: 0 10px;
}

.navbar a {
  color: var(--nav-text);
  font-weight: bold;
}

.navbar a:hover {
  color: var(--secondary-color);
}
h2 {
    color:#c53a9d
}
a {
    text-decoration:none;
}