body {
    background-color: black;
}
h1 {
    text-transform: uppercase;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}
#container {
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
    padding: 20px;
}
img {
    width: 100%;
    height: auto;
    border: 5px solid white;
    border-radius: 5px;
}
p {
    text-align: center;
    color: white;
    font-family: "Libre Baskerville", serif;
    font-size: 18px;
    line-height: 1.6;
}